<%- include('../header') %>

<h3>Add Data User</h3>
<p style="color: red"><%=msg%></p>
<form action="/users" method="post">
    <table>
        <tr>
            <td>Username </td>
            <td>:</td>
            <td><input type="text" name="username"></td>
        </tr>
        <tr>
            <td>Password </td>
            <td>:</td>
            <td><input type="text" name="password"></td>
        </tr>
        <tr>
            <td>Name </td>
            <td>:</td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <td>Address </td>
            <td>:</td>
            <td><textarea name="address" cols="30" rows="10"></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><input type="submit" value="Save"></td>
        </tr>
    </table>
</form>